footer{
    background-color: rgb(231, 192, 86);
    color: black;
}

nav{
    background-color: rgb(76, 216, 123);
    display: flex;
    justify-content: center;
}

.boton{
    background-color: rgba(167, 182, 189, 0.795);
    margin: 15px;
    padding: 10px;
    width: auto;
    height: 10px;
}